# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

*-key.json
service-account*.json
.env
